<section>
  <div class="events-container">
    <div class="upcoming-event-content">
      <div class="upcoming-event-details">
        <p class="upcoming-event-title">
          Our next event
        </p>
        <p class="upcoming-event-header">
          <strong>Meeting</strong> (second Tuesday of every month)
        </p>
        <div class="upcoming-event-date">
          <span>
            <%= meetup_event.date %></br>
            <%= meetup_event.start_time %>
          </span>
        </div>
        <div class="upcoming-event-location">
          <span>
            <%= meetup_event.venue %></br>
            <%= meetup_event.address %></br>
            <%= meetup_event.city_state %>
          </span>
        </div>
        <div class="upcoming-event__buttons">
          <%= link_to("RSVP", meetup_event.link, target: :blank, class: "upcoming-event__button") %>
          <%= link_to("See all events", "https://meetup.com/bostonrb", class: "upcoming-event__button") %>
        </div>
      </div>
    </div>

    <div class="event-types">
      <div class="card">
        <p class="card__title">
          Project nights
        </p>
        <p class="card__header">
          First Tuesday of the month
        </p>
        <span>
          Get help with rails, hack on some open source, meet other Ruby enthusiasts.
        </span>
      </div>
      <div class="card">
        <p class="card__title">
          Meetings
        </p>
        <p class="card__header">
          Second Tuesday of the month
        </p>
        <span>
          Two long-form talks about something cool created with Ruby.
        </span>
      </div>
    </div>
  </div>
</section>
