<p class="events__item-title">
  <%= event.name %>
</p>

<p><time><%= event.date %></time></p>

<p>
  <time>
    <%= event.formatted_start_time %>
  </time>
  to
  <time>
    <%= event.formatted_end_time %>
  </time>
</p>

<address>
  <%= event.venue_name %><br>
  <%= event.address %><br>
  <%= "#{event.city}, #{event.state}" %>
</address>

<p>
  <%= link_to(
    "RSVP",
    "#",
    class: "cta--primary",
    target: "_blank"
  )%>
</p>
