<p class="events__item-title" data-role="event-name">
  <%= event.name %>
</p>

<p data-role="event-date-info">
  <time><%= event.date %></time>
</p>

<p>
  <time>
    <%= event.start_time %>
  </time>
  to
  <time>
    <%= event.end_time %>
  </time>
</p>

<address data-role="event-venue-info">
  <%= event.venue_name %><br>
  <%= event.address %><br>
  <%= event.city %>
</address>

<p>
  <%= link_to(
    "RSVP",
    event.url,
    class: "cta--primary"
  ) %>
</p>

<p>
  <%= link_to(
    "See all events",
    event.events_url
  )%>
</p>
