<nav>
  <h2>Join our community</h2>
  <ul>
    <li>
      <%= link_to(
        "Meetup",
        "https://www.meetup.com/bostonrb/",
      ) %>
    </li>
    <li>
      <%= link_to(
        "Slack",
        "http://slack.bostonrb.org/",
      ) %>
    </li>
    <li>
      <%= link_to(
        "Twitter",
        "https://twitter.com/bostonrb/",
      ) %>
    </li>
  </ul>

  <ul>
    <li>
      <%= link_to(
        "Presentations",
        "#",
      ) %>
    </li>
    <li>
      <%= link_to(
        "Submit a proposal",
        "https://papercall.io/bostonrb/",
      ) %>
    </li>
    <li>
      <%= link_to(
        "Jobs",
        "https://www.meetup.com/bostonrb/messages/boards/forum/29446267/",
      ) %>
    </li>
  </ul>
</nav>