<nav class="nav">
  <h2>Join our community</h2>
  <ul class="nav__list">
    <li class="nav__item">
      <%= link_to("Meetup", "https://www.meetup.com/bostonrb/") %>
    </li>
    <li class="nav__item">
      <%= link_to("Slack", ENV.fetch('SLACK_JOIN_URL', "https://communityinviter.com/apps/bostonrb/bostonrb")) %>
    </li>
    <li class="nav__item">
      <%= link_to("Twitter", "https://twitter.com/bostonrb/") %>
    </li>
  </ul>

  <ul class="nav__list">
    <li class="nav__item">
      <%= link_to("Submit a talk", "https://papercall.io/bostonrb/") %>
    </li>
    <li class="nav__item">
      <%= link_to(
        "Job Board",
        "https://www.meetup.com/bostonrb/messages/boards/forum/29446267/"
      ) %>
    </li>
  </ul>
</nav>
