<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="author" content="Boston Ruby Group">
  <meta name="description" content="Boston Ruby Group helps you make connections, hack on projects, learn new things, and have fun with other Ruby enthusiasts.">
  <%= open_graph_tags %>
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <link rel="preload"
        as="font"
        type="font/woff2"
        crossorigin
        href="<%= asset_path('WorkSans-Regular.woff2') %>"
      >
  <link rel="preload"
        as="font"
        type="font/woff2"
        crossorigin
        href="<%= asset_path('WorkSans-Bold.woff2') %>"
  >

  <%= favicon_link_tag "bostonrb-logo.png" %>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render "flashes" -%>
  <a class="skip-to-main" href="#main-content">Skip to Main Content</a>
  <%= render "layouts/header" %>
  <%= yield %>
  <%= render "layouts/footer" %>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
